# Unity-generated project files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
[Bb]uild/
[Bb]uilds/

# IDE files
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS files
.DS_Store
Thumbs.db

# Exported artifacts
*.fbx
*.fbm/
*.blend
*.blend1
